# After any updates to this file, requirements.txt should be regenerated running
# the following in this folder:
# pip-compile --no-emit-index-url requirements.in

click>=8.0.0
kfp > 2.0.0
kfp-server-api > 2.0.0
kubernetes>=17.0.0
pydantic>=2.5.0
PyYAML>=5.3.1
pytest
pydantic_yaml
ruamel.yaml>=0.17.40
urllib3<2.0
pyfiglet
pre-commit
sqlmodel
pandas
inflect
pymysql
dash
dash_iconify
flask_login
pydantic_settings
dash_mantine_components